*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d6dfd50;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    width: 70%;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
}
main .Web-name{
    letter-spacing: 15px;
}
main h3{
    letter-spacing: 5px;
}
main div{
    display: flex;
    gap: 300px;
    justify-content: space-between;
    align-items: center;
}

main div div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

@media screen and (max-width: 1025px) {
    main .Web-name{
    letter-spacing: 10px;
}
}
@media screen and (max-width: 850px) {
    main .Web-name{
    letter-spacing: 5px;
   }
   main div{
    gap: 200px;
}
}
@media screen and (max-width: 680px) {
    main .Web-name{
    letter-spacing: 5px;
    font-size: 18px;
   }
   main div{
    gap: 100px;
}
}
@media screen and (max-width: 480px) {
    main .Web-name{
    letter-spacing: 2px;
    font-size: 14px;
   }
   main h1{
    font-size: 16px;
   }
   main div{
    gap: 50px;
    font-size: 10px;
   }
   main h3{
    font-size: 13px;
   }
   main h4{
    font-size: 13px;
   }
}