<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
    <div class="img">
        <div class="info">
            <h1>Welcome to Online Test Style</h1>
            <p>This is a online test platform where you give test online and Terms and conditions are applied. If you are ready to take test then logIn or signUp.</p>
            <div class="buttons">
                <a class="btn" href="/login/"> LogIn</a>
                <a class="btn" href="/register/"> SignUp</a>
            </div>

        </div>

    </div>
</body>
</html>